<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/index.css/">
    <!-- <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
    </script> -->
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>COSC 455 Image Processing Toolkit - YANG</title>
</head>
<body style="background-color: #e6fcff;" >
<div class="container" style="background-color: #b5c9c3; height: 1000px;">
    <h1 style="padding-top: 30px;">COSC 455 Image Processing Toolkit - YANG</h1>
    
    
    <div>
        <hr />
    <div id="file"><input id="upload_image", type="file" onchange="uploadImage(event)" hidden /></div>
    <input id="import" type="button" value="Upload Image" onclick="upload()" class="btn btn-outline-primary"/>
    <input id="clear" type="button" value="Clear Panel" onclick="clear_panel()" class="btn btn-outline-primary"/>
    <input id="reset" type="button" value="Reset Image" onclick="reset()" class="btn btn-outline-primary"/>
    </div>
    
    <div class="row" style="height: 600px;">
        <div class="col-sm-4">
            <h3 style="padding-top: 10px;">Original Image</h3><hr />
        <div id="show_image1"><img src='../static/images/bg.png' style='width: 350px; padding-bottom: 80px; padding-top: 80px;' class='img-thumbnail'/></div>
        <br/>
        </div>
        
        <div class="col-sm-4">
            <h3 style="padding-top: 10px;">Processed Image</h3><hr />
        <div id="show_image2"><img src='../static/images/bg.png' style='width: 350px; padding-bottom: 80px; padding-top: 80px;' class='img-thumbnail'/></div>
        </div>


        <div class="col-sm-4" style="background-color: #bdd7da;">
                    <!-- <label for="modes"><h4><strong>Image Processing Modes: </strong></h4></label>
                    <select id="modes" onchange="displayMode()" class="custom-select">
                        <option value="None">Please Select a Processing Mode</option>
                        <optgroup label="Point Processing">
                            <option value="negative">Negative</option>
                            <option value="intensity">Intensity-Level Slicing</option>
                            <option value="constrast">Constrast Stretching</option>
                            
                            <option value="hist">Histogram Equalization</option>
                            <option value="power">Power-Law</option>
                        </optgroup>
                        <optgroup label="Neighborhood Processing">
                            <option value="box">Smoothing with Box</option>
                            <option value="gaussian">Smoothing with Gaussian</option>
                            <option value="laplacian">Sharping with Laplacian</option>
                            <option value="unsharp">Sharping with Unsharp Mask and Highboost</option>
                            <option value="median">Order Statistic Median Filtering</option>
                        </optgroup>
                    </select>

                    <hr />
                    <div id="show_mode">

                    </div> -->
                    <div class="btn-group btn-group-justified" style="padding-top: 10px;">
                        <a href="#" id='point_but' class="btn btn-primary btn-sm" onclick="pointClick()">Point Processing</a>
                        <a href="#" id= 'neibor_b' class="btn btn-secondary btn-sm" onclick="neiborClick()">Neighborhood Processing</a>
                      </div>
                      <hr />
                    <div id="show_mode">
                        <input type="radio" id="negative" name="mode" value="negative" onchange='displayMode(1)'>
                        <label for="negative">Negative</label><br><br />

                        <input type="radio" id="intensity" name="mode" value="intensity" onchange='displayMode(2)'>
                        <label for="intensity">Intensity-Level Slicing</label>
                        <div style="padding-left: 40px;"><span class='font-weight-bold indigo-text mr-2 mt-1'>1</span><input id='intensity_level' class='border-0' type='range' min='1' max='7' onchange='displayIntnsity()' /><span class='font-weight-bold indigo-text ml-2 mt-1'>7</span></div><span id='display_intensity' class='font-weight-bold indigo-text ml-2 mt-1' style="padding-left: 40px;">Intensity Level: 4</span><br />

                        <input type="radio" id="constrast" name="mode" value="constrast" onchange='displayMode(3)'>
                        <label for="constrast">Constrast Stretching</label><br><br />

                        <input type="radio" id="hist" name="mode" value="hist">
                        <label for="hist">Histogram Equalization</label><br><br />

                        <input type="radio" id="power" name="mode" value="power" onchange="displayMode(5)">
                        <label for="power">Power-Law</label><br />
                            <label for="power" style="padding-left: 40px;">Power Value: </label>
                            <input type="number" value='0.3' id="power_value" name="power" min="0.1" max="1" step="0.1" style="padding-left: 40px;" onchange="displayMode(5)">
                    </div>

                    <br/>

                    <hr />
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Logs </label>
                        <textarea id='logs' class="form-control" id="exampleFormControlTextarea1" rows="6" style="font-size:10px;font-family:Arial;" readonly></textarea>
                    </div>

        </div>
    </div>
</div>

</body>
</html>